/* quill.css */
.quill {
    font-family: inherit;
}

.ql-editor {
    padding: 0 !important;
}

.ql-editor h1 {
    font-size: 24px;
    line-height: 40px;
}

.ql-editor h2 {
    font-size: 20px;
    line-height: 30px;
}

.ql-editor h3 {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    
}

.ql-editor h4 {
    font-size: 16px;
    line-height: 26px;
}
.ql-editor h5 {
    font-size: 16px;
    line-height: 26px;

}
.ql-editor h6 {
    font-size: 16px;
    line-height: 26px;
}


body .space-y-10 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


.ql-editor img {
    display: inline-block;
    max-width: 45%; 
    margin-right: 5%;
    vertical-align: top; 
  }
  
  .ql-editor img:last-child {
    margin-right: 0;
  }

 
  
/* Bullet point and list styling for Quill */
.ql-editor ul,
.ql-editor ol {
  padding-left: 1.5rem !important; /* Provide space for bullets or numbers */
  margin: 1rem 0;
}

.ql-editor li {
  font-size: 14px;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
}

.ql-editor ul li::before {
  content: '•';
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
}

.ql-editor ol {
  list-style: decimal inside;
}

.ql-editor ul {
  list-style: disc inside;
}

  

  


  @media (max-width: 576px) {
    .ql-editor  {
        text-align: center !important; /* Center-align text on small screens */
    }
}

@media (min-width: 576px) {
  .ql-editor {
    text-align: justify !important; /* Justify text for all content */
  }

  .ql-editor h4 {
    text-align: initial !important; /* Reset text alignment for h4 tags */
  }
}

/* recaptchaStyles.css */

/* Center the reCAPTCHA container */
.rc-anchor {
  display: flex !important; /* Force display */
  justify-content: center !important;
  align-items: center !important;
}

/* Scale down the entire reCAPTCHA */
.rc-anchor-normal {
  transform: scale(0.85) !important; /* Adjust this value as needed */
  transform-origin: 0 0 !important; /* Keep the scaling point at the top-left */
  width: 100% !important; /* Full width */
}

/* Style for the checkbox */
.recaptcha-checkbox {
  width: 24px !important; /* Adjust checkbox size */
  height: 24px !important; /* Adjust checkbox size */
}

/* Adjust spacing or margins */
.rc-anchor-center-item {
  margin: 0 10px !important; /* Adjust spacing between elements */
}

/* Hide the logo if not needed */
.rc-anchor-logo-portrait {
  display: none !important; /* Hide the logo */
}
